<div class="container">
  <div class="row">
    <div class="mr-auto ml-auto">
      <% @sellers.each do |seller| %>
        <div class="messages">
          <div class="message-link"><%= seller.name %>'s Chat</div>

          <div class="message-holder">
            <% seller.messages.where(buyer_id: @buyer_id).each do |message| %>
              <p class="message <%= message.sender %>">
                <%= message.content %>
              </p>
            <% end %> 
            
            <p class="text-center">
              <%= link_to 'Reply', new_buyer_message_path(seller) %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<style media="screen">

  .true {
    border: 1px solid #A5A5A5;
    text-align: left;
  }

  .false {
    background-color: #A5A5A5;
    text-align: right;
    margin-left: auto;
  }
</style>

<script type="text/javascript">
  $(document).ready( () => {
    $('.message-link').click( function() {
      let clicky = $(this).siblings('.message-holder');
      clicky.slideToggle(100);
      $('.message-holder').not(clicky).hide();
    })
  })
</script>