<div class="container">
  <h1 class="text-center">All of Buyer's message</h1>

  <br />

  <% @buyers.each do |buyer| %>
    <h3 class="text-center">Convo With: <%= buyer.name %></h3>

    <% buyer.messages.where(seller_id: @seller_id).each do |message| %>
      <p class="message text-center <%= message.sender %>">
        <%= message.content %>
      </p>
    <% end %>

    <p class="text-center">
      <%= link_to 'Reply', new_seller_message_path(buyer) %>
    </p>
  <% end %>
</div>

<style media="screen">
  .true {
    background-color: grey;
  }
</style>
