<h1>Power House Woohoo</h1>

<!-- <h2>Seller Login/Logout</h2> -->
<%#= link_to 'log in', new_seller_session_path %><br>
<%#= link_to 'log out', destroy_seller_session_path, method: :delete %><br>
<%#= link_to 'sign up', new_seller_registration_path %><br>

<!-- <h2>Buyer Login/Logout</h2> -->
<%#= link_to 'Sign In', new_buyer_session_path %> <br>
<%#= link_to 'Log Out', destroy_buyer_session_path, method: :delete %> <br>
<%#= link_to 'Sign Up', new_buyer_registration_path %>
