<div class="row">
  <div class="col-md-3 ml-auto">
    <label class="form-group">Item</label>
    <%= f.text_field :name, class: 'form-control'%>
  </div>

  <div class="col-md-3 mr-auto">
    <label class="form-group">Quantity (e.g. 2kg/5pcs)</label>
    <%= f.text_field :qty, class: 'form-control' %>
  </div>
</div>

<br />

<div class="row">
  <div class="col-md-6 ml-auto mr-auto">
    <label class="form-group">Description</label>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
</div>

<div align="center" class="remove-line-holder">
  <button type="button" id="remove-0" class="btn btn-xs btn-danger remove-item-line">Remove Item</button>
</div>

<br />
