<div class="container">
  <h2 class="text-center">Your Requests</h2>

  <table class="table table-striped">
    <tr>
      <th>Request</th>
      <th>Postal Code</th>
    </tr>

    <% @request.each do |r| %>
      <tr>
        <td><%= link_to r.title, request_path(r.id) %></td>
        <td><%= r.seller.address %></td>
      </tr>
    <% end %>
  </table>
</div>
