<div class="container">
  <h1 class="text-center">My Bids</h1>

  <table class="table table-striped">
    <tr>
      <th>Title of Bid</th>
    </tr>

    <% @bids.each do |b| %>
      <tr>
        <td><%= b.title %></td>
      </tr>
    <% end %>
  </table>
</div>
