<div class='text-center'>
    <h1>Buyer's account</h1>

    <% if current_buyer %>
        <%= current_buyer.name %> <br/>
        <%= current_buyer.email %>
    <% end %><br>

    <%= link_to 'Log Out', destroy_buyer_session_path, method: :delete %>
</div>