@import 'bootstrap';

$primary-color: #57BDB5;

* {
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0.02rem;
}

html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
}

.wrapper-inside {
  margin-top: 50px;
  padding-bottom: 50px;
}

.footer {
  height: 50px;
  margin-top: -50px;
}