.profile {
    margin: 0px auto;
    width: 900px;

    .right {
        width: 25%;
        padding: 20px;
        background-color: rgb(242, 242, 242);
        height: fit-content;
        // border: 2px solid #57BDB5;
    }

    .left {
        width: 72%;
    }

    .right a {
        color: black;
        text-decoration: underline;
    }
}

.img-circle {
    // border: 2px solid #57BDB5;
    border-radius: 50%;
}

// .size{
//     width: 60%;
// }
// .border{
//     border: solid black;
//     object-fit: cover;
// }

.edit {

    h2 {
        font-size: 16px;
    }

    h5 {
        margin-bottom: 15px;
        color: #57BDB5;
    }

    .form-group {
        line-height: 40px;
        margin: 0px;
    }

    .form-control {
        margin-bottom: 15px;
    }

    .edit-section {
        margin: 40px auto;
    }




    .update-btn {
        background-color: #57BDB5;
        color: black;
        border: 0px;
        margin: 0 auto;
    }

    .delete-btn {
        background-color: white;
        margin: 0 auto;
        display: block;
        padding:0px;
        color: #57BDB5;
    }

    .back-btn {
        margin: 20px auto;
        width: 100%;
        border: 1px solid rgb(216, 216, 216);
        color: black;
        background-color: rgb(216, 216, 216);
    }

    .upload-tag {
        width: 100%;
        padding: 10px;
        border: 1px solid rgb(216, 216, 216);
        border-radius: 5px;
    }
}